* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: 'fredoka';
    overflow-x: auto;
}

.alinhamento {
    margin-left: 25%;
    margin-right: 25%;
}

.topo {
    height: 50px;
    width: 100%;
    padding-bottom: 20px;
    font-weight: bold;
}

.banner {
    background-image: url('../img/capa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}

h1 {
    text-align: right;
    padding-top: 50px;
}

h2 {
    text-align: right;
}

h4 {
    padding: 25px 0px;
}

p {
    text-align: justify;
    padding: 10px 0px;
}

img {
    display: inline;
    width: 250px;
    padding: 10px 1px;
}

span {
    font-size: larger;
    border-left: gray solid;
    padding-left: 10px;
}

.img-topicos {
    background-image: url(../img/fundo.jpg);
    background-attachment: fixed;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0px;
}

h3 {
    font-size: 30px;
    background-color: white;
    width: 200px;
    border-radius: 20px 20px;
    text-align: center;
    ;
    margin-left: 45%;
    margin-right: 45%;

}

.topicos {
    padding: 10px;
}